<table>
  <tbody>
    <tr>
      <th><%= l(:field_status) %></th>
      <% statistic["statuses"].each do |s| %>
        <td><%= s[:status].name %></td>
      <% end %>
      <th>
        <% if statistic["total"][:is_closed] %>
          <%= l(:label_completed, scope: 'status_statistic') %>    
        <% else %>          
          <%= l(:label_working, scope: 'status_statistic') %>    
        <% end %>
      </th>
    </tr>
      <tr>
        <th><%= l(:label_duration, scope: 'status_statistic') %></th>
        <% statistic["statuses"].each do |s| %>
          <td><%= t(:value, scope: 'status_statistic', days: s[:days], hours: s[:hours]) %></td>
        <% end %>
        <td><%= t(:value, scope: 'status_statistic', days: statistic["total"][:days], hours: statistic["total"][:hours]) %></td>
      </tr>
  </tbody>
</table>
